body{
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin:0;
    font-family: Georgia, serif;
}

.subPage{
    width:90%;
    height:90%;
    position: absolute;
    top: 0;
    display: none;
    padding: 5%;
}

input {
    width: 180px;
    padding: 5px 10px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#mainPage{
    width:90%;
    height:90%;
    background-color: darkgoldenrod;
    padding: 5%;
}
#currentDomain{
    font-size: 1.5em;
}

#addToListType{
    background-color: #00a5ff;
}
#addToHardBlockList{
    background-color: green;
}
#addToSoftBlockList{
    background-color: purple;
}
#addToWhiteList{
    background-color: white;
}
#modifyMainMessage{
    background-color: chocolate;
}
.remove{
    background-color: red;
}
.remove h4{
    margin: 7px auto;
    text-align: center;
}
.remove li div{
    float: left;
    width: 225px;
    word-wrap: break-word;
}
.remove ul{
    width: 256px;
    padding: 0;
    list-style-type: none;
}
.removeCheckWrapper button{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    font-size: 10px;
    font-weight: bolder;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 0 5px #444444;
    margin: 5px;
}
.removeCheckWrapper button:hover{
    background-color: #dddddd;
}
.removeCheckWrapper button:focus{
    box-shadow:0 0 10px #444444 inset;
}
.removeCheckWrapper button p{
    text-align: center;
    margin: auto;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5%;
}
::-webkit-scrollbar-button {
    height: 5px;
    background-color: black;
}
::-webkit-scrollbar-track-piece {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: white;
}​