body{
    overflow: hidden;
    width: 250px;
    height: 355px;
    margin:0;
    font-family: "Adobe 宋体 Std L",Georgia, serif;
    background-color: lightseagreen;
}

footer{
    height: 16px;
    font-size: 5px;
    font-weight: bold;
    text-align: right;
    left:0;
    width:90%;
    margin: 0 5%;
    padding: 5px 0 2px 0;
    bottom: 0;
    position: relative;
    border-color: black;
    border-top-style: solid;
    border-width: 2px;
}

hr{
    margin: 6px;
}

.subPage{
    width:90%;
    /* -25px(footer) -113(topCol) */
    height: 225px;
    top: 103px;
    position: absolute;
    display: none;
    padding: 0 5% 2px 5%;
    background-color: lightseagreen;
}

.mainPageInput {
    width: 180px;
    padding: 5px 10px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#mainMessageInput{
    padding: 2px 5px;
    margin: 0;
    border-width: 0px;
}

#mainPage{
    width:90%;
    height:212px;
    padding: 0 5% 20px 5%;
}
#topCol{
    width:90%;
    height: 85px;
    padding: 15px 5% 0 5%;
    overflow-y: scroll;
    border-width:3px;
    border-bottom-style: solid;
    border-color: black;
}
#topCol::-webkit-scrollbar{
    width: 4px;
}
#topCol::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
#topCol::-webkit-scrollbar-button{
    background-color: transparent;
}

#currentDomain{
    font-size: 1.5em;
}

#timeDisplay{
    font-family: "Adobe Caslon Pro Bold";
    text-align: center;
    padding: 0;
    margin: 0 5px;
    font-weight: bolder;
}
.optionBtn{
    font-size: 0.66em;
    background-color: white;
    padding: 2px 4px;
    border-color: #ffffff;
}
.optionBtn:hover:enabled{
    transition-duration: 0.4s;
    /*background-color: #beeaff;*/
    background-color: #ffac1b;
    border-color: #ffac1b;
}
.optionBtn:active:enabled{
    transition-duration: 0.4s;
    background-color: #ff3246;
    border-style: inset;
    border-color: #ff3246;
}
.optionBtn:disabled{
    color: #888888;
    background-color: #cccccc;
    border-style: solid;
    border-color: #cccccc;
}

.backBtn{
    background-color: transparent;
    height: 20px;
    width: 30px;
    padding: 4px 2px;
    border: 1px solid transparent;
}
.backBtn:hover{
    transition-duration: 0.4s;
    border-color: black;
}
.backBtn:active{
    transition-duration: 0.1s;
    border-color: black;
    box-shadow: 0 0 5px black inset;
}
.subTitle{
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
    z-index: -1;
    border-color: black;
    border-width: 2px;
    border-bottom-style: solid;
}
.imgBtn{
    border: 1px solid transparent;
}
.imgBtn:hover{
    transition-duration: 0.4s;
    border: 1px solid #222222;
}
.imgBtn:active{
    transition-duration: 0.4s;
    border: 1px solid #222222;
    box-shadow: 0 0 5px black inset;
}

#waitTime{
    padding: 1px 2px;
    width: 28px;
    margin:5px 3px;
}


.remove ul{
    margin: 5px 0;
}
.remove li{
    border:1px black solid;
    border-radius: 5px;
    margin: 3px;
    overflow: hidden;
}
.remove li p{
    margin: 0;
    padding: 0;
}
.remove h4{
    margin: 7px auto;
    text-align: center;
}
.remove li div{
    float: left;
    /*ul width -30px*/
    width: 170px;
    margin: 5px 0;
    word-wrap: break-word;
}
.remove ul{
    padding: 0;
    list-style-type: none;
}
.removeCheckWrapper button{
    float: left;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 10%;
    font-size: 10px;
    font-weight: bolder;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px #444444;
    margin: 5px;
}
.removeCheckWrapper button:hover{
    transition-duration: 0.4s;
    background-color: #ffac1b;
}
.removeCheckWrapper button:active{
    transition-duration: 0.4s;
    box-shadow:0 0 10px #444444 inset;
    background-color: red;
}
.removeCheckWrapper button p{
    text-align: center;
    margin: auto;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 6px;
    height: 3px;
    background-color: black;
}
::-webkit-scrollbar-track-piece {
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: white;
}


.arrow_box {
    font-family: "Adobe 宋体 Std L","Adobe Caslon Pro Bold";
    font-size: 0.66em;
    font-weight: 700;
    display: none;
	position: absolute;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
    padding: 2px 5px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 8px;
	margin-left: -8px;
}

.arrow_box_right {
    font-family: "Adobe 宋体 Std L","Adobe Caslon Pro Bold";
    font-size: 0.66em;
    font-weight: 700;
    display: none;
	position: absolute;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
    padding: 2px 5px;
}
.arrow_box_right:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 16px;
	margin-top: -16px;
}


#timerInputPop{
    left:52px;
    top:215px;
    padding: 2px 5px;
}
#prompt1Pop{
    left: 67px;
    bottom: 45px;
    z-index: 1;
}



/* The switch - the box around the slider */
.switchWrapper {
  position: relative;
  display: inline-block;
  /*width: 60px;*/
  /*height: 34px;*/
  width: 50px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switchWrapper input {display:none;}

/* The slider */
.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0eff72;
  transition: .4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -1px;
  bottom: -1px;
  background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: #444;
}
.slideAnimation:before{
    transition: .4s;
}

input:checked + .switchSlider {
  background-color: #888;
}

input:focus + .switchSlider {
  box-shadow: 0 0 1px #888;
}

input:checked + .switchSlider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.switchSlider.round {
  border-radius: 25px;
}

.switchSlider.round:before {
  border-radius: 50%;
}

#statisticsForEachWebsiteOptions{
    display: none;
    float: right;
    width: 70px;
    height: 24px;
    font-size: 0.8em;
    padding: 2px;
    border: 2px black solid;
    border-radius: 5px;
}
#statisticsForEachWebsiteOptions option{
    font-size: 1.1em;
}

#statisticsPastNDaysBlock{
    display: none;
    float: right;
    width: 70px;
    height: 24px;
    font-size: 0.8em;
    border-radius: 5px;
}

#statisticsPastNDaysBlock input{
    width: 70px;
}