body{
    overflow: hidden;
    width: 250px;
    height: 300px;
    margin:0;
    font-family: Georgia, serif;
}

.subPage{
    width:90%;
    height:90%;
    position: absolute;
    top: 0;
    display: none;
    padding: 5%;
}

input {
    width: 180px;
    padding: 5px 10px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#mainPage{
    width:90%;
    height:90%;
    background-color: darkgoldenrod;
    padding: 5%;
}

#addToListType{
    background-color: #00a5ff;
}
#addToHardBlockList{
    background-color: green;
}
#addToSoftBlockList{
    background-color: purple;
}
#addToWhiteList{
    background-color: white;
}
#modifyMainMessage{
    background-color: chocolate;
}
.remove{
    background-color: red;
}
.remove li{
    list-style-type: none;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 5%;
}
::-webkit-scrollbar-button {
    height: 5px;
    background-color: black;
}
::-webkit-scrollbar-track-piece {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: white;
}​